
html{
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
body{
font-family: 'Lato', 'sans-serif';
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
    text-align: center;
    color:#333 ;


}

main{
  padding: 15px;

  margin: 30px 10px;

    background-color:#eee ;
}

#title{
font-size: 3rem;
    
}

p{

    font-size: 0.8em;
}

#img-div{
    background-color: white;
    margin: 0;
    padding: 10px;
}

#imgCaption{
margin:15px 0 5px 0;

}

#image{
max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;

}

#tribute-title{

    margin: 50px 0;
}

ul{
max-width: 550px;;
margin: 50px auto;
text-align: left;

}
li{
    margin: 16px 0;
}


blockquote{

font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    /* text-align:  */
}


